$primaryColor : #274d64;
$primaryTextColor: rgb(235, 235, 235);
$colorBackText : rgb(28,43,53);
$colorBackTextRGBA : rgba(30, 46, 56, 0.95);
$colorBackTextRGBA1 : rgba(223, 223, 223, 0.95);
$colorBackTextRGBA2 : rgba(223, 223, 223, 0.85);
$colorTextHover: #3897c6;


